* {
  margin: 0;
}
.post-image {
  .post {
    // margin: 0 20px;
    height: 500px;
  }
  .sym {
    // width: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    position: relative;
    top: 10px;
    .three {
      width: 100px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 10;
      .like {
        i {
          font-size: 20px;
          // color: black;
        }
        i.fas.fa-heart {
          color: red;
        }
      }
      .share {
        // width: 150px;
        .option {
          color: gray;
          //   width: 100px;
          padding: 10px;
        }
      }
      .comment {
        input {
          position: relative;
          top: 50px;
        }
      }
    }
    .book {
      text-align: end;
    }
  }
  .content {
    padding: 10px;
    font-size: 20px;
    .text {
      span {
        color: gray;
      }
      small {
        color: gray;
      }
    }
    .tag-name {
      // margin-top: 20px;
      i {
        color: #013569;
      }
    }
  }
  .comnt-section {
    input {
      width: 490px;
      height: 50px;
      font-size: 18px;
      border: 0.5px solid rgb(88, 86, 86);
      padding-left: 10px;
    }
  }
}
